@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari, Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge */
html {
  -ms-overflow-style: none;
}
